@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: whitesmoke;
  background-color: #282c34;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 2px solid #f2f2f2;
}
.navbar h1 {
  color: whitesmoke;
}

.navbar a {
  text-decoration: none;
  padding: 6px;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* NavBar */
.navLinks{
  color: #61dafb;
  border-radius: 8px;
  font-size: 20px;
  margin-left: 16px;
}

.navLinks:hover{
  background-color: rgb(245, 245, 245);
}

/* blog preview */
.card:hover{
  box-shadow: 7px 7px 5px rgb(0, 0, 0);
  zoom: 103%;
}

.card{
  max-width: 300px;
  margin: 10px;
}

.blog-list a{
  text-decoration: none;
}

/* Blog details */
.blog-details h2{
  font-size: 40px;
  color: white;
  margin-bottom: 10px;
}

.parrafo{
  margin: 20px 0;
  text-align: justify;
  white-space: pre-wrap;
}

/* Create */
.create input, .create textarea, .create select{
  margin-bottom: 12px;
}

.create h2{
  text-align: center;
}

.create label{
  font-size: 20px;
}

.create textarea{
  resize: none;
  height: auto;
}

.create textarea::-webkit-scrollbar{
  width: 0px;
}